<div id="toolbar" class="sidebar-dark-toolbar rounded-top">
  <div class="ql-formats">
    <select class="ql-font">
      <option selected></option>
      <option value="serif"></option>
      <option value="monospace"></option>
    </select>
    <select class="ql-header">
      <option value="1">Título 1</option>
      <option value="2">Título 2</option>
      <option value="3">Título 3</option>
      <option value="4">Título 4</option>
      <option value="5">Título 5</option>
      <option value="6">Título 6</option>
      <option value="false" selected>Normal</option>
    </select>
  </div>
  <div class="ql-formats">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
  </div>
  <div class="ql-formats">
    <select class="ql-color fix-formats-2">
      <option selected></option>
      <option value="#e60000"></option>
      <option value="#ff9900"></option>
      <option value="#ffff00"></option>
      <option value="#008a00"></option>
      <option value="#0066cc"></option>
      <option value="#9933ff"></option>
      <option value="#ffffff"></option>
      <option value="#facccc"></option>
      <option value="#ffebcc"></option>
      <option value="#ffffcc"></option>
      <option value="#cce8cc"></option>
      <option value="#cce0f5"></option>
      <option value="#ebd6ff"></option>
      <option value="#bbbbbb"></option>
      <option value="#f06666"></option>
      <option value="#ffc266"></option>
      <option value="#ffff66"></option>
      <option value="#66b966"></option>
      <option value="#66a3e0"></option>
      <option value="#c285ff"></option>
      <option value="#888888"></option>
      <option value="#a10000"></option>
      <option value="#b26b00"></option>
      <option value="#b2b200"></option>
      <option value="#006100"></option>
      <option value="#0047b2"></option>
      <option value="#6b24b2"></option>
      <option value="#444444"></option>
      <option value="#5c0000"></option>
      <option value="#663d00"></option>
      <option value="#666600"></option>
      <option value="#003700"></option>
      <option value="#002966"></option>
      <option value="#3d1466"></option>
    </select>
    <select class="ql-background fix-formats-4">
      <option value="#000000"></option>
      <option value="#e60000"></option>
      <option value="#ff9900"></option>
      <option value="#ffff00"></option>
      <option value="#008a00"></option>
      <option value="#0066cc"></option>
      <option value="#9933ff"></option>
      <option selected></option>
      <option value="#facccc"></option>
      <option value="#ffebcc"></option>
      <option value="#ffffcc"></option>
      <option value="#cce8cc"></option>
      <option value="#cce0f5"></option>
      <option value="#ebd6ff"></option>
      <option value="#bbbbbb"></option>
      <option value="#f06666"></option>
      <option value="#ffc266"></option>
      <option value="#ffff66"></option>
      <option value="#66b966"></option>
      <option value="#66a3e0"></option>
      <option value="#c285ff"></option>
      <option value="#888888"></option>
      <option value="#a10000"></option>
      <option value="#b26b00"></option>
      <option value="#b2b200"></option>
      <option value="#006100"></option>
      <option value="#0047b2"></option>
      <option value="#6b24b2"></option>
      <option value="#444444"></option>
      <option value="#5c0000"></option>
      <option value="#663d00"></option>
      <option value="#666600"></option>
      <option value="#003700"></option>
      <option value="#002966"></option>
      <option value="#3d1466"></option>
    </select>
  </div>
  <div class="ql-formats">
    <button class="ql-formula"></button>
    <button class="ql-script" value="sub"></button>
    <button class="ql-script" value="super"></button>
    <button class="ql-blockquote"></button>
    <button class="ql-code-block"></button>
  </div>
  <div class="ql-formats">
    <select class="ql-align fix-formats-2">
      <option selected></option>
      <option value="center"></option>
      <option value="right"></option>
      <option value="justify"></option>
    </select>
    <button class="ql-list" value="ordered" type="button"></button>
    <button class="ql-list" value="bullet" type="button"></button>
    <button class="ql-indent" value="-1" type="button"></button>
    <button class="ql-indent" value="+1" type="button"></button>
  </div>
  <div class="ql-formats">
    <button class="ql-link"></button>
    <button class="ql-image"></button>
    <button class="ql-clean"></button>
  </div>
</div>
<div id="editor" class="bg-white rounded-bottom"></div>
