.body-app {
  transition: padding ease-in-out .4s;
  padding: 30px 75px;

  @media screen and (max-width: 750px) {
    padding: 20px 45px;
  }

  @media screen and (max-width: 600px) {
    padding: 10px 28px;
  }
}
