$color-primary-base: #044ca4;
$color-primary-contrast: #fff;
$color-primary-shade: #034493;
$color-primary-tint: #1d5dad;

$color-secondary-base: #e40421;
$color-secondary-contrast: #fff;
$color-secondary-shade: #cd031d;
$color-secondary-tint: #e61d37;

$color-tertiary-base: #3879be;
$color-tertiary-contrast: #fff;
$color-tertiary-shade: #326cab;
$color-tertiary-tint: #4b86c4;

$color-other-base: #6C9CD4;
$color-other-contrast: #000;
$color-other-shade: #618cbe;
$color-other-tint: #7aa5d8;

$color-success-base: #00c4cc;
$color-success-contrast: #000;
$color-success-shade: #00b0b7;
$color-success-tint: #19c9d1;

$color-warning-base: #FAD02C;
$color-warning-contrast: #000;
$color-warning-shade: #e1bb27;
$color-warning-tint: #fad441;

$color-danger-base: #eb445a;
$color-danger-contrast: #fff;
$color-danger-shade: #d33d51;
$color-danger-tint: #ed566a;
