.uk-card-media-top {
  cursor: pointer;
}

.card-title-container {
  padding: 10px;

  h3.uk-card-title {
    margin: 0;
    font-size: 1.8rem;
  }
}

h3.h3-subtitle {
  font-size: 1.2rem;
}

.uk-icon-button {
  position: absolute;
  z-index: 1;
  right: 0;

  background: transparent;
  color: white;
  transition: all ease-in-out 0.1s;

  &:hover {
    color: white;
    background: rgba(black, 0.2);
  }
}

.min-height-fix {
  width: auto;
  min-height: 200px;
}
