<section class="uk-section uk-preserve-color">

  <div class="uk-grid-match" uk-grid>
    <div class="uk-width-1-2@m uk-width-1-3@l">
      <div class="uk-card uk-card-body">
        <h3>¿Quiénes somos?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam accusantium harum officiis, dolor, assumenda
          possimus nam cum adipisci reprehenderit, fugiat architecto amet! Dolorem, quam? Recusandae odio incidunt
          nisi repellat ipsa.
          <br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus minima aliquid voluptates, culpa nesciunt
          quam eligendi vero placeat nihil minus laudantium optio temporibus saepe tenetur eum dolores ipsa sapiente
          earum?</p>
      </div>
    </div>
    <div class="uk-width-expand">
      <div class="uk-child-width-1-1@m uk-child-width-1-2@l" uk-grid>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <h3>Nuestra Historia</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="change-order">
          <div class="uk-card uk-card-default uk-card-body">
            <h3>Misión y Visión</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <h3>Alianzas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
