<section *ngIf="contenido" class="uk-section uk-preserve-color">
  <div class="uk-grid-match" uk-grid>
    <div class="uk-width-1-2@m uk-width-1-3@l">
      <div class="uk-card uk-card-default uk-card-body">
        <h3>{{ contenido.seccionQuienesSomos.title }}</h3>
        <div
          [innerHTML]="applyDOMSanitizer(contenido.seccionQuienesSomos.content)"
        ></div>
      </div>
    </div>
    <div class="uk-width-1-2@m uk-width-1-3@l">
      <div class="uk-card uk-card-default uk-card-body">
        <h3>{{ contenido.seccionNuestraHistoria.title }}</h3>
        <div
          [innerHTML]="
            applyDOMSanitizer(contenido.seccionNuestraHistoria.content)
          "
        ></div>
      </div>
    </div>
    <div class="uk-width-1-2@m uk-width-1-3@l">
      <div class="uk-card uk-card-default uk-card-body">
        <h3>{{ contenido.seccionMisionVision.title }}</h3>
        <div
          [innerHTML]="applyDOMSanitizer(contenido.seccionMisionVision.content)"
        ></div>
      </div>
    </div>
    <div class="uk-width-1-2@m uk-width-1-3@l">
      <div class="uk-card uk-card-default uk-card-body">
        <h3>{{ contenido.seccionAlianzas.title }}</h3>
        <div
          [innerHTML]="applyDOMSanitizer(contenido.seccionAlianzas.content)"
        ></div>
      </div>
    </div>
  </div>
</section>
