<div class="social-bar-container">
  <ul>
    <li uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 0">
      <a href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 200">
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 400">
      <a href="#">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 600">
      <a href="#">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    <li uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 800">
      <a href="#">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
  </ul>
</div>
