<fab-button (click)="openModal()"></fab-button>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  [zIndex]="99999999"
>
  <p style="color: white;">Cargando...</p>
</ngx-spinner>

<div
  class="uk-child-width-1-1@xs uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@xl uk-text-center"
  uk-grid
>
  <div *ngFor="let casoDeExito of casosDeExito; let i = index">
    <app-element-box
      type="casos-de-exito"
      [title]="casoDeExito.title"
      [imgStatic]="casoDeExito.imgPrimary"
      [imgHover]="casoDeExito.imgSecondary"
      [isAdmin]="true"
      [enabled]="casoDeExito.enabled"
      (click)="clickOnBox(i)"
      (dropdownClick)="dropdownClick($event, casoDeExito, i)"
    >
    </app-element-box>
  </div>
</div>

<div id="modal-full-success" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button
      id="close-button"
      class="uk-modal-close-full uk-close-large"
      type="button"
      uk-close
    ></button>
    <div
      class="uk-padding-large"
      style="max-width: 650px; margin: auto;"
      uk-height-viewport
    >
      <h1 class="uk-text-center mb-4">
        {{ editMode ? "Editar Caso de Éxito" : "Crear Caso de Éxito" }}
      </h1>
      <div class="form-group mb-4">
        <label for="exampleFormControlTitle1">Título del Caso de Éxito</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlTitle1"
          [(ngModel)]="title"
        />
      </div>
      <div class="custom-file mb-4">
        <input
          type="file"
          class="custom-file-input"
          id="customFile1"
          accept="image/gif, image/jpeg, image/png"
          (change)="onUploadChange($event, true)"
        />
        <label class="custom-file-label" for="customFile1">
          Suba la imagen primaria
        </label>
      </div>
      <div class="custom-file mb-2">
        <input
          type="file"
          class="custom-file-input"
          id="customFile2"
          accept="image/gif, image/jpeg, image/png"
          (change)="onUploadChange($event, false)"
        />
        <label class="custom-file-label" for="customFile2">
          Suba la imagen secundaria
        </label>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripción detallada</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="5"
          [(ngModel)]="largeDescription"
        ></textarea>
      </div>
      <div class="form-group text-center">
        <button
          id="send-data"
          type="button"
          class="btn btn-primary mt-2 px-4"
          (click)="createProducto()"
        >
          {{ editMode ? "Actualizar Caso de Éxito" : "Crear Caso de Éxito" }}
        </button>
      </div>
    </div>
  </div>
</div>
