<section
  *ngIf="contenido"
  class="uk-section uk-preserve-color uk-padding-remove-top"
>
  <div class="w-100 text-right mb-2">
    <button *ngIf="!editMode" class="btn btn-primary" (click)="setEditMode()">
      Editar
    </button>
    <button *ngIf="editMode" class="btn bg-cyan" (click)="setEditMode()">
      Guardar
    </button>
  </div>

  <div class="uk-grid-match" uk-grid>
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">
        <h3 class="mb-4" [attr.contenteditable]="editMode">
          {{ contenido.seccionQueHacemos.title }}
        </h3>
        <div
          [attr.contenteditable]="editMode"
          [innerHTML]="applyDOMSanitizer(contenido.seccionQueHacemos.content)"
        ></div>
      </div>
    </div>
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body">
        <h3 [attr.contenteditable]="editMode">
          {{ contenido.seccionNuestraMetodologiaDeTrabajo.title }}
        </h3>
        <div
          [attr.contenteditable]="editMode"
          [innerHTML]="
            applyDOMSanitizer(
              contenido.seccionNuestraMetodologiaDeTrabajo.content
            )
          "
        ></div>
      </div>
    </div>
  </div>
</section>
