<footer class="uk-section">
  <div class="uk-container">

    <div class="uk-grid-match uk-child-width-1-1@xs uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
      <div>
        <h3>Dirección</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <h3>Oficina Central</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <h3>Oficina Comercial</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <h3>Oficina Obras Civiles</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>

    <div class="uk-text-center dev-section" style="height: 0; margin-top: 30px;">
      Developed by <span class="author" (click)="redirectTo('https://cristian-gonzalez.com/')">Cristian
        González</span><span class="powered">, Powered by <span class="framework"
          (click)="redirectTo('https://angular.io/')">Angular&nbsp;<i class="fab fa-angular"></i></span></span>
    </div>
  </div>
</footer>
