footer.uk-section {
  background-color: #121212;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 70px;

  h3 {
    color: #fff;
    font-size: 1.5rem;
  }

  div {
    color: #acacac;
    font-size: 1.1rem;
  }
}

.dev-section,
span.author,
span.framework,
span.powered {
  font-family: "Lobster Two", cursive;
}

.dev-section {
  font-size: 0.95rem !important;
  margin-bottom: -30px;
  color: rgba(#fff, 0.6);
  height: 0;
  margin-top: 20px;

  span.author,
  span.framework {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }

  span.author:hover {
    color: #56959e;
    font-size: 1.2rem;
  }

  span.framework:hover {
    color: #dd1b16;
  }
}

@media (max-width: 440px) {
  span.powered {
    display: none;
  }

  .dev-section {
    margin-bottom: -26px;
  }
}
