<h3 class="uk-margin-remove-bottom">Otros Proyectos</h3>

<div
  class="uk-position-relative uk-visible-toggle"
  tabindex="-1"
  uk-slider="autoplay: true; autoplay-interval: 3500;"
  >

  <ng-container *ngIf="servicios">
    <ul
      class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m"
      style="height: 100%;"
    >
      <li *ngFor="let servicio of servicios; let i = index">
        <div
          class="bg-image"
          (click)="clickOnBox(i)"
          [ngStyle]="{ 'background-image': 'url(' + servicio.imgPrimary + ')' }"
        >
          <span class="banner-text">{{ servicio.title }}</span>
        </div>
      </li>
    </ul>
  </ng-container>

  <a
    class="uk-position-center-left uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-previous
    uk-slider-item="previous"
  ></a>
  <a
    class="uk-position-center-right uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-next
    uk-slider-item="next"
  ></a>
</div>
