* {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

span.banner-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 20%;

  // Para el que el text esté centrado
  display: flex;
  justify-content: center;
  align-items: center;
}

ul > li {
  &:nth-child(even) > span.banner-text {
    background-color: rgba(4, 76, 164, 0.85);
  }

  &:nth-child(odd) > span.banner-text {
    background-color: rgba(4, 164, 143, 0.85);
  }
}
