* {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

[uk-slider] {
  height: 185px;
}

ul > li:nth-child(even) {
  * > .banner-text {
    background-color: rgba(4, 76, 164, 0.85);
  }
}

ul > li:nth-child(odd) {
  * > .banner-text {
    background-color: rgba(4, 164, 143, 0.85);
  }
}

.bg-image {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
