<div
  class="uk-text-center uk-grid-match uk-padding-large uk-padding-remove-top"
  uk-grid
>
  <div class="uk-width-1-1@m">
    <div class="uk-grid-match" uk-grid>
      <div class="uk-width-expand rounded-top">
        <app-carousel
          [carouselControllers]="false"
          [options]="options"
          [slides]="slides"
          [skeleton]="!loader"
        ></app-carousel>
      </div>
    </div>
  </div>
  <div class="uk-width-1-2@m">
    <div
      routerLink="/products"
      class="uk-card uk-card-default uk-card-body boxes products-box"
    >
      <span class="banner-text rounded-bottom">Productos</span>
    </div>
  </div>
  <div class="uk-width-1-2@m">
    <div
      routerLink="/services"
      class="uk-card uk-card-default uk-card-body boxes services-box"
    >
      <span class="banner-text rounded-bottom">Servicios</span>
    </div>
  </div>
</div>
