<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white">Cargando...</p>
</ngx-spinner>

<div class="bg-login">
  <div class="container">
    <div class="card">
      <div class="bg-img">
        <h1>Iniciar Sesión</h1>
      </div>
      <div class="card-body">
        <form (ngSubmit)="signIn()">
          <div class="form-group">
            <label for="input-email">Correo de Acceso</label>
            <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp" autocomplete="email"
              required [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
            <small id="emailHelp" class="form-text text-muted">No comparta el correo electrónico con nadie.</small>
          </div>
          <div class="form-group">
            <label for="input-password">Contraseña</label>
            <input type="password" class="form-control" id="input-password" autocomplete="current-password" required
              [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <p>
              ¿Olvidaste la constraseña? <a class="text-muted" (click)="resetPassword()">Haz click aquí.</a>
            </p>
          </div>
          <button type="submit" class="btn btn-success btn-expand">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
</div>
