<div
  id="slideshow"
  class="uk-position-relative uk-visible-toggle uk-light"
  tabindex="-1"
  [attr.uk-slideshow]="getOptions"
>
  <ul *ngIf="!skeleton" class="uk-slideshow-items">
    <li *ngFor="let slide of slides">
      <a [routerLink]="slide.route">
        <img  [src]="slide.img" alt="" uk-cover />
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
        >
          <h3 class="uk-margin-remove">
            <span>{{ slide.title }}</span>
          </h3>
          <p class="uk-margin-remove">
            <span>{{ slide.description }}</span>
          </p>
        </div>
      </a>
    </li>
  </ul>

  <ul *ngIf="skeleton" class="uk-slideshow-items">
    <li *ngFor="let slide of [1]">
      <a>
        <ngx-skeleton-loader
          animation="progress"
          [theme]="{ 'border-radius': 'unset', height: '100%' }"
        ></ngx-skeleton-loader>
        <div
          class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom"
        >
          <h3 class="uk-margin-remove">
            <ngx-skeleton-loader
              animation="progress"
              [theme]="{
                'border-radius': 'unset',
                height: '30px',
                width: '70%'
              }"
            ></ngx-skeleton-loader>
          </h3>
          <p class="uk-margin-remove">
            <ngx-skeleton-loader
              *ngIf="skeleton"
              animation="progress"
              [theme]="{
                'border-radius': 'unset',
                height: '30px',
                width: '70%'
              }"
            ></ngx-skeleton-loader>
          </p>
        </div>
      </a>
    </li>
  </ul>

  <ng-container *ngIf="carouselControllers">
    <a
      class="uk-position-center-left uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-previous
      uk-slideshow-item="previous"
    ></a>
    <a
      class="uk-position-center-right uk-position-small uk-hidden-hover"
      href="#"
      uk-slidenav-next
      uk-slideshow-item="next"
    ></a>
  </ng-container>
</div>
