<ul style="background-color: #fff; padding: 10px 20px;" uk-accordion>
  <li *ngFor="let item of clients; let i = index" [ngClass]="{'uk-open': i === 0}">
    <a class="uk-accordion-title" href="#">Cliente {{ i + 1}}</a>
    <div class="uk-accordion-content">
      <div class="uk-card uk-card-default uk-grid-collapse" uk-grid>
        <div class="uk-card-media-left uk-cover-container uk-width-1-2@s uk-width-1-3@m">
          <img src="https://getuikit.com/docs/images/light.jpg" alt="" uk-cover>
          <canvas width="100%" height="150"></canvas>
        </div>
        <div class="uk-width-1-2@s uk-width-expand@m">
          <div class="uk-card-body">
            <h3 class="uk-card-title">Client Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
