<div class="uk-child-width-1-1@xs uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-child-width-1-5@xl"
  uk-grid>
  <div *ngFor="let item of [1,1,1,1,1]">
    <app-element-post *ngIf="base64textString" title="10 mejoras que su organización puede implementar con ITIL 4"
      text="¿Alguna vez sintió que su organización está en una “caminadora o cinta para correr” tratando de mantener el ritmo de todos los cambios y la tecnología?"
      [frontImg]="base64textString" tag="Eventos">
    </app-element-post>
  </div>
</div>
<input type="file" (change)="onUploadChange($event)" name="" id="" accept=".png, .jpg, .jpeg">
<!-- <img *ngIf="base64textString" [src]="base64textString" alt="" id="img"> -->
